.password-hint
{
	font-style: italic;
}

.password-wrong
{
	font-style: italic;
	color: red;
}

.logout
{
	float: right;
}

.mobile-banner img
{
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mobile-banner input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.room
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.room-name
{
	font-weight: bold;
}

.room-description
{
	font-style: italic;
}

.room-occupants
{
	margin-top: 5px;
}

.active-user, .inactive-user, .last-used
{
	font-size: 80%;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.active-user
{
	background-color:#ccc;
}

.inactive-user
{
	background-color:#eee;
}

.inactive-user, .last-used
{
	color: #777;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 14px;
	width: 100%;
	background: #FFFED0;
	padding: 8px;
	font-size: 80%;
	text-align: center;
}
