body
{ 
	font-family: Calibri, Arial, sans-serif;
	margin: 0px;
	background-image: url(third_party/images/buttercups/buttercup-meadow-tile.jpg);
	background-size: tile;
}

.password-hint
{
	font-style: italic;
}

.password-wrong
{
	font-style: italic;
	color: red;
	font-weight: bold;
}

.password-wrong a
{
	color: white;
}

#nickname
{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

#logout
{
	float: right;
}

.app-store-button-wrapper
{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.app-store-button
{
	text-align: center;
	color: white;
	background: black;
	padding: 7px 15px;
	border: 2px white solid;
	border-radius: 8px;
}

.app-store-button-line1
{
	font-size: 75%;
}

.app-store-button-line2
{
	font-size: 120%;
	font-weight: bold;
}

.mobile-banner a
{
	text-decoration: none;
}

.mobile-banner input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.room
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.room-name
{
	font-weight: bold;
}

.room-description
{
	font-style: italic;
}

.room-occupants
{
	margin-top: 5px;
}

.active-user, .inactive-user, .last-used
{
	font-size: 80%;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5px;
}

.active-user
{
	background-color:#ead66a;
	color: black;
}

.inactive-user
{
	background-color:#aaa;
	color: black;
}

.last-used
{
	color: #777;
}

.footer
{
	margin-top: 30px;
	background: #FFFED0;
	padding: 8px;
	font-size: 80%;
	text-align: center;
}

#chat input[type=text]
{
}

#chat input#message_text
{
	width: calc(100% - 110px);
	border: 1px solid #ACD8F0;
	background-color: #ffffff;
	height: 3em;
	padding-left: 1em;
	border-radius: 8px;
	margin-bottom: 8px;
}

#chat input#message_send
{
	height: 3em;
	width: 50px;
	margin-left: 10px;
}

#message_thumbs_up
{
	margin-left: 5px;
	width: 30px;
}

.my-text-message,
.my-text-message .post-name,
.my-text-message .post-message
{
	float: right;
}

.text-message,
.text-message .post-name,
.text-message .post-message
{
	float: left;
}

.post-message
{
	border-radius: 5px;
	padding: 3px 6px;;
	color: black;
}

.my-text-message .post-message
{
	background: #9f9;
	color: black;
}

.text-message .post-message
{
	background: #eaeaea;
	margin-left: 5px;
}

/* arrow */
.post-message::after
{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
} 

/* arrow */
.my-text-message .post-message::after
{
	left: 100%;
	border-color: transparent transparent transparent #9f9;
}

/* arrow */
.text-message .post-message::after
{
	right: 100%;
	border-color: transparent #eaeaea transparent transparent;
}

.my-text-message .post-time-wrapper .post-time::after
{
	right: 0%;
	margin-right: 5px;
}

.text-message .post-time-wrapper .post-time::after
{
	left: 0%;
	margin-left: 5px;
}

.end-of-message
{
	height: 5px;
	clear: both;
}

.post-message
{
	position: relative;
}

.post-message:hover .post-time-wrapper
{
	visibility: visible;
}

.post-time-wrapper
{
	bottom: 100%;
	visibility: hidden;
	position: absolute;
	z-index: 1;
}

.post-time
{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	width: 100px;
	margin-bottom: 5px;
}

.my-text-message .post-time-wrapper
{
	right: 0%;
}

.text-message .post-time-wrapper
{
	left: 0%;
}

/* arrow */
.post-time::after
{
	content: " ";
	position: absolute;
	top: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
} 

.my-text-message .post-time-wrapper .post-time::after
{
	right: 0%;
	margin-right: 5px;
}

.text-message .post-time-wrapper .post-time::after
{
	left: 0%;
	margin-left: 5px;
}

.post-name
{
	font-weight: bold;
	margin-right: 5px;
}

@font-face
{
	font-family: chalkFontTitle;
	src: url(third_party/fonts/helsinki/helsinki.ttf);
}

@font-face
{
	font-family: chalkFont0;
	src: url(third_party/fonts/applestorm/ApplestormRegular.otf);
}

@font-face
{
	font-family: chalkFont1;
	src: url(third_party/fonts/indie-flower/IndieFlower.ttf);
}

@font-face
{
	font-family: chalkFont2;
	src: url(third_party/fonts/ChalkboardByMartaVanEck/ChalkboardByMartaVanEck.ttf);
}

@font-face
{
	font-family: chalkFont3;
	src: url(third_party/fonts/short-stack/ShortStack-Regular.otf);
}

@font-face
{
	font-family: chalkFont4;
	src: url(third_party/fonts/RoughDustyChalk/RoughDustyChalk.otf);
}

@font-face
{
	font-family: chalkFont5;
	src: url(third_party/fonts/gloria-hallelujah/GloriaHallelujah.ttf);
}

@font-face
{
	font-family: chalkFont6;
	src: url(third_party/fonts/Eraser/EraserRegular.ttf);
}

.chalkTitle
{
	font-family: chalkFontTitle;
}

.chalk0
{
	font-family: chalkFont0;
	font-size: 92%;
}

.chalk1
{
	font-family: chalkFont1;
	font-size: 88%;
}

.chalk2
{
	font-family: chalkFont2;
	font-size: 94%;
}

.chalk3
{
	font-family: chalkFont3;
	font-size: 65%;
}

.chalk4
{
	font-family: chalkFont4;
	font-size: 75%;
}

.chalk5
{
	font-family: chalkFont5;
	font-size: 73%;
}

.chalk6
{
	font-family: chalkFont6;
	font-size: 61%;
}

body.blackboard-body
{
	margin: 0;
	background: url(third_party/images/blackboard/blackboard.jpg) black;
	background-size: cover;
}

.blackboard-full
{
	padding: 20px;
}

.blackboard-thumb
{
	background: url(third_party/images/blackboard/blackboard.jpg) black;
	background-size: cover;
	position: relative;
	width: 180px;
	padding: 10px 10px 35px 10px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.blackboard-thumb .zoom
{
	position: absolute;
	bottom: 8px;
	right: 10px;
	font-size: 18px;
}

.blackboard-thumb-end
{
	height: 5px;
	clear: both;
}

.blackboard table,
.blackboard .table
{
	color: white;
	border: none;
	border-collapse: collapse;
}

.blackboard .recent_12
{
	color: #FF97E8;
}

.blackboard .recent_24
{
	color: #FFCAF9;
}

.table
{
	display: table;
}

.row
{
	display: table-row;
}

.cell
{
	display: table-cell;
}

.blackboard-thumb table
{
	font-size: 100%;
	width: 100%;
	table-layout: fixed;
}

.blackboard-thumb table td.blackboard-ellipsis
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.blackboard-full .table
{
	font-size: 200%;
	width: 100%;
}

.blackboard-item
{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.blackboard-item-edit
{
	display: none;
}

.blackboard .cell form
{
	margin-bottom: 20px;
}

.blackboard .blackboard-title .cell
{
	padding-bottom: 20px;
}

.blackboard .add-new-edit
{
	display: none;
}

.blackboard-item-edit textarea,
.add-new-edit textarea
{
	width: 100%;
	font-size: 100%;
}

.blackboard-item-reply textarea
{
	margin-left: 5%;
	width: 95%;
	font-size: 100%;
}

.blackboard .buttons-cell
{
	vertical-align: middle;
	padding-left: 10px;
	white-space: nowrap;
}

.blackboard .table .cell .buttons
{
	margin: 2px;
	visibility: hidden;
}

.icons
{
	font-family: "Font Awesome 5 Free", "FontAwesome";
	font-size: 25px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	color: #ead66a;
	background-color: transparent;
	position: relative;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
}

.icons:disabled
{
	color: #999;
}

.delete-a-room .icons
{
	font-size: 18px;
	font-weight: 300;
	visibility: hidden;
}

.table .row:hover .delete-a-room .icons,
.touchscreen .table .row .delete-a-room .icons
{
	visibility: visible;
}

.room-name .icons
{
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.blackboard .table .highlightable:hover
{
	outline-style: dotted;
}

.blackboard .table .row:hover .buttons,
.touchscreen .blackboard .table .row .buttons
{
	visibility: visible;
}

.blackboard .table .row:hover .buttons-editing
{
	visibility: hidden;
}

.blackboard .table .cell .buttons-enter
{
	display: none;
}

.blackboard .table .cell .buttons-editing .buttons-enter
{
	display: block;
}

.blackboard .table .blackboard-item-reply
{
	display: none;
}

.blackboard .table .add-new
{
	text-align: center;
	padding-top: 20px;
}

body.room-body
{
	margin: 0;
	background-image: none;
	background: #1B2638;
}

.add-a-room input[type=text],
.add-a-room textarea
{
	width: 80%;
	margin-top: 10px;
}

.add-a-room #new_room_thumbnail
{
	margin-top: 10px;
}

.room .cell
{
	padding-bottom: 15px;
	vertical-align: top;
}

.room .video-thumb
{
	padding-right: 10px;
	text-align: right;
}

.room-description
{
	margin-top: 5px;
}

.room .delete-a-room
{
	vertical-align: middle;
}

.delete-a-room form
{
	margin-bottom: 0;
}

#special-event .event-image
{
	text-align: center;
}

#special-event .event-image img
{
	max-height: 200px;
	max-width: 100%;
	width: auto;
	height: auto;
	margin-bottom: 20px;
}

#special-event .event-image-gallery a
{
	text-decoration: none;
}

#special-event .event-image-gallery figure
{
	float: left;
	display: block;
}

#special-event .event-image-gallery img
{
	max-height: 200px;
	max-width: 100%;
	width: auto;
	height: auto;
	margin-bottom: 5px;
}

#special-event .event-image-gallery figcaption
{
	color: white;
	font-weight: bold;
	text-align: center;
}

#special-event .event-image-gallery-end
{
	clear: both;
}

#home-header
{
	background-color:#294f09; 
	padding:10px 20px 20px 20px;
}

#home-header h1
{
	color:#ead66a; 
	margin:0px;
	font-size: 200%;
}

#user-profile
{
	color: #ffffff;
}

#blackboard-home
{ 
	padding:20px 20px 10px 20px;
}

#whos-online
{ 
	background: rgba(0,0,0, 0.3);
	padding:0px 20px 20px 20px;
	margin: 0 20 20 20;
	border: #ffffff solid 3px;
	border-radius: 15px;
}

#login-form
{ 
	background: rgba(0,0,0, 0.4);
	padding:0px 20px 20px 20px;
	margin: 20 20 20 20;
	border: #ffffff solid 3px;
	border-radius: 15px;
	color: #ffffff;
}

#chat-home
{ 
	background: rgba(0,0,0, 0.3);
	padding:10px 20px 10px 20px;
}

.chat-full-screen
{
	display: block;
	float: right;
	padding-top: 20px;
	font-size: 20px;
	font-weight: 600;
}

.single-module-whole-page .chat-full-screen
{
	display: none;
}

.chat-full-screen a
{
	color: #ead66a;
	text-decoration: none;
	font-weight: bold;
}

#chatbox-outer
{
	background-image: url(third_party/images/bigtop/bigtop.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

#chatbox
{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 20px;
	background: #fff;
	height: 270px;
	border: 1px solid #ACD8F0;
	overflow: auto;
	background: rgba(255,255,255, 0.6);
	border: 1px solid #ffffff;
	border-radius: 15px;
}

.single-module-whole-page #chatbox
{
	height: calc(100% - 240px);
}

.single-module-whole-page .footer
{
	margin-top: 0;
}

#video-home,
#special-event,
#credits
{ 
	background: rgba(0,0,0, 0.5);
	padding:0px 20px 20px 20px;
	margin: 20 20 20 20;
	border: #ffffff solid 3px;
	border-radius: 15px;
	color: #ffffff;
}

#whos-online h3,
#whos-online p
{ 
	color: #ffffff;
}

#chat-home h2,
#chat-home p,
#video-home h2,
#special-event h2,
#credits h2
{
	color: #ffffff;
}

.room-name a,
.room-description a
{
	color: #ffffff;
	text-decoration: none;
}

.room-name
{
    font-weight: bold;
    font-size: x-large !important;
}

.room-list
{
	border-collapse: collapse;
}

.room-list .cell
{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.room-description
{
	margin-bottom: 10px;
}

#video-intro
{
	margin-bottom: 20px;
	font-weight: bold;
	color: #ead66a;
}

#event-intro
{
	margin-bottom: 20px;
	font-weight: bold;
	color: #ead66a;
}

#event-intro a
{
	color: white;
}

#credits a
{
	color: #ead66a;
}

#video-intro p
{
	margin-block-start: 0;
	margin-block-end: 8px;
}

.add-a-room h3
{
    margin-bottom: 4px !important;
    color: #fff9d9;
}

input[name=room_name]
{
    height: 3em;
    padding-left: 1em;
    border-radius: 8px;
}

textarea[name=room_description]
{
    height: 6em;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 8px;
}

#online_now,
#online_earlier,
.room-occupants
{
	line-height: 180%;
}

@media only screen and (min-width: 801px)
{

	#video-intro
	{
		margin-left:20px;
		margin-bottom: 10px;
		margin-top: -25px;
		padding-left:20px;
		border-left:1px solid white;
		float: right;
		max-width: 200px;
	}

	#video-intro h3
	{
		margin-top: -5px;
	}
}

@media only screen and (max-width: 600px) 
{
	.blackboard-thumb
	{
		width: calc(100% - 20px);
	}

	#online_now
	{
		max-width:100%;
	}

	#online_earlier
	{
		max-width:100%;
	}

	#chat-home
	{ 
		padding:10px 40px 10px 20px;
	}
}

@media only screen and (max-width: 400px) 
{
	#video_rooms .table,
	#video_rooms .row,
	#video_rooms .cell
	{
		display: block;
	}

	#video_rooms .cell
	{
		border: none;
	}

	#video-intro
	{
		border-bottom: 1px solid white;
		padding-bottom: 20px;
	}

	.room.row
	{
		margin-bottom: 20px;
		border-bottom: 1px solid white;
		padding-bottom: 20px;
	}

	#video_rooms .delete-a-room
	{
		text-align: right;
	}

	#video_rooms .cell
	{
		padding: 0;
	}

	#video_rooms .video-thumb
	{
		text-align: left;
		padding-bottom: 10px;
	}

	#chat input#message_text
	{
		width: 100%;
	}

	#chat input#message_send
	{
		margin-left: 0;
		width: 50%;
	}

	#message_thumbs_up
	{
		width: 40%;
		margin-right: 0;
	}

	.single-module-whole-page #chat-home
	{ 
		padding:10px 20px 10px 20px;
	}

	.single-module-whole-page #chatbox
	{
		height: calc(100% - 290px);
	}

	.chat-full-screen .icon-description
	{
		display: none;
	}
}
